	<div class="page-header">
		<h1>Flapper News</h1>
	</div>

	<div ng-repeat="post in posts | orderBy: '-upvotes'">
		<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
		<span style="font-size:20px; margin-left:10px;">
			<a ng-show="post.link" href="{{ post.link }}">
				{{ post.title }}
			</a>
			<span ng-hide="post.link">{{ post.title }}</span>
			<span>
			  <a href="#/posts/{{$index}}">Comments</a>
			</span>
			- upvotes: {{ post.upvotes }}
		</span>
	</div>

	<form ng-submit="addPost()" style="margin-top:30px;">
		<h3>Add a new post</h3>
		<div class="form-group">
			<input class="form-control" type="text" ng-model="title" placeholder="Title"></input>
		</div>
		<div class="form-group">
			<input class="form-control" type="text" ng-model="link" placeholder="Link"></input>
		</div>
		<button type="submit" class="btn btn-primary">Post</button>
	</form>