	<div class="page-header">
		<h3>
			<a ng-show="post.link" href="{{ post.link }}">
				{{ post.title }}
			</a>
			<span ng-hide="post.link">{{ post.title }}</span>
		</h3>
	</div>

	<div ng-repeat="comment in post.comments | orderBy: '-upvotes'">
		<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span>
		{{comment.body}} - by {{comment.author}}
		<span style="font-size:20px; margin-left:10px;">
			- upvotes: {{ post.upvotes }}
		</span>
	</div>

	<form ng-submit="addComment()" style="margin-top:30px;">
		<h3>Add a new comment</h3>
		<div class="form-group">
			<input class="form-control" type="text" ng-model="author" placeholder="Author"></input>
		</div>
		<div class="form-group">
			<input class="form-control" type="text" ng-model="body" placeholder="Comment"></input>
		</div>
		<button type="submit" class="btn btn-primary">Post</button>
	</form>